div{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(245,250,254) ;
}
.clearPad{
    padding: 0;
    margin: 0;
}
.Bg03{
    background-color:rgb(237,237,237);
}
.Bg{
    background: rgb(245,250,254);
}
.Bg01{
    background:rgb(35,54,94) ;
}
.Bg02{
    background: rgb(35,86,195);
}
.ColGary{
    color:rgb(136,136,136);
}
.ColWh{
    color: white;
}
.ColBlue{
    color:rgb(35,54,94) ;
}
.ColZi{
    color: #2b669a;
}
.Txt{
    text-align: center;
}
.Border{
    border:1px solid black;
}
.img{
    width: 100%;
    height: 100%;
}
.Position{
    top: 100px;
}
.fontWeigt{
    font-weight: 600;
}
.nav_my li a:link{
    color:white;
}
.nav_my li a:hover{
    background: rgb(35,86,195);
}
.nav_my li a:visited{
    color: white;
    background:rgb(35,86,195) ;
}
.disBlo{
    display: block;

}
.disNone{
    display: none;
}
.positionAbs{
    position: absolute;
}
.carBtn{
    border-radius: 5px;
    padding: 5px 20px 1px 20px;
}
.carBtn img{
    margin-right: 5px;
}
.carDiv{
    width: 470px;
    height: 350px;
    border: 2px solid gray;
}
.shodw{
    box-shadow: grey;
}
.nav_myBtm li a:link{
    color:white;
}
.nav_myBtm li:hover{
    background:rgb(35,54,94) ;
}
.nav_myBtm li a:visited{
    color: white;
    background:rgb(35,54,94) ;
}
a:link{color: white;}
a:visited{color: white}
.tuS{
    transform: scale(1);
}
.rowHg{
    line-height: 24px;
}